.newPost {
	/* border: 1px solid red; */
}

.textarea {
	background-color: gray;
	width: 200px;
	height: 100px;
	display: block;
}

.button {
	width: 100px;
	height: 40px;
	background-color: blue;
}

.posts {
	/* border: 1px solid red; */
}

.wrapper {
	background-color: teal;
}
