.newPost {
	border: 1px solid red;
}

.textarea {
	background-color: gray;
}

.button {
	width: 150px;
	height: 50px;
	background-color: blue;
}

.posts {
	border: 1px solid red;
}

.wrapper {
	background-color: teal;
}
