.item {
	font-family: "Gorditas", cursive;
	font-size: 18px;
	color: rgb(90, 63, 5);
	margin: 0 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.active {
	color: rgb(229, 34, 38);
}

.avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.name {
	margin-top: 10px;
}
