.wrapper {
	grid-column: 1 / -1;
	background-color: rgb(235, 234, 209);
	padding: 30px;
}

.logo {
	display: inline-block;
	height: 50px;
}

.loginWrapper {
	float: right;
	margin-right: 50px;
	font-size: 24px;
}

.avatar {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.apiLink {
	display: inline;
	margin-left: 150px;
	font-size: 1.5rem;
	color: rgb(255, 0, 242);
	opacity: 0.5;
}

.apiLink:hover {
	opacity: 1;
	font-size: 1.55rem;
}
