.app__wrapper {
	display: grid;
	grid-template-areas:
		"head head"
		"nav cont";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	gap: 10px;
	width: 1200px;
	margin: 10px auto;
}

.app__header {
	grid-area: head;
	background-color: rgb(49, 160, 123);
}

.app__logo {
	width: 50px;
}

.app__nav {
	grid-area: nav;
	background-color: cadetblue;
}

.main__profile {
	grid-area: cont;
	background-color: rgb(104, 81, 148);
}

.main__profile__image {
	width: 100%;
}

.main__profile__avatar {
	width: 200px;
}
