body {
	background: repeat url(./../src/assets/images/background_image.png);
}

.wrapper {
	display: grid;
	grid-template-rows: 200px 1fr;
	grid-template-columns: 1fr 3fr;
	gap: 20px;
	width: 100%;
	margin: 0 auto;
	height: 98vh;
}

.gridContent {
	background-color: rgb(255, 255, 255);
	margin-right: 10vw;
	margin-top: -50px;
	box-shadow: 0 -8px 16px -6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 -8px 16px -6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 -8px 16px -6px rgba(0, 0, 0, 0.5);
}
